.botton-float{
  width:60px;
  height:60px;
  border-radius:100%;
  background:#78D731;
  right:0;
  position:absolute;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
  float: right;
}

.span-float{
  color: #FFF;
  transition:.5s;
}

.span-float:hover{
  color: #096D87;
  transition:.5s;
}
